.hiredog1-card
{
    width: 300px;
    height: 430px;
    border: 1px solid rgb(143, 141, 141);
    border-radius: 8px;
    overflow: hidden;

}
.hiredog1-card .hiredog1-img
{
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.hiredog1-card .hiredog1-img img
{

    width: 300px;
    height: 200px;
    object-fit: fill;
    transition: transform 0.8s;
}
.hiredog1-card .hiredog1-img img:hover
{
    transform: scale(1.1);
}
.hiredog1-card .hiredog1-desc
{
    padding: 8px;
}
.hiredog1-card .hiredog1-desc .hiredog1-title
{
    color: rgb(61, 61, 61);
}
.hiredog1-card .hiredog1-desc .hiredog1-title h6
{
    margin-bottom: 8px;
    font-size: 14px;
    /* color: rgb(61, 61, 61); */
}
.hiredog1-card .hiredog1-desc .para
{
    padding-left: 4px;
    font-size: 13px;
    color: gray;
    line-height: 1.3;
}