.jobs-category 
{
    /* background-color: white; */
    margin-top: 76px;
    width: 100%;
    overflow: hidden;
}
.jobs-category .jobs-category-header
{
    font-family: "PT Serif", serif;
    text-align: center;
}
.jobs-category .jobs-category-header h2 b
{
    color: rgb(3, 86, 154);
}
.jobs-category .jobs-category-cards
{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}