/* @use postcss-color-function; */
/* @use postcss-nested; */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');


.find-dis
{
    width: 100%;
    margin-top: 76px;
    overflow: hidden;
}
.find-dis .find-dis-header 
{
    font-family: "PT Serif", serif;
    font-weight: 700;
    text-align: center;
}
.find-dis .find-dis-contain
{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.find-dis .find-dis-contain .find-dis1
{
    width: 600px;
    padding: 10px;
}
.find-dis .find-dis-contain .find-dis2
{
    width: 650px;
    padding: 10px;
}
.find-dis .find-dis-contain .find-dis2 .find-dis2-header h4
{
    font-family: "PT Serif", serif;
    font-weight: lighter;
    left: 1.4;
    text-transform: capitalize;
}
.find-dis .find-dis-contain .find-dis2 .find-dis2-para
{
    line-height: 1.3;
    font-size: 15px;
}

/* Input Box */
.find-dis .find-dis-contain .find-dis2 .input-box
{
    position: relative;
    height: 56px;
    max-width: 500px;
    /* width: 100%; */
    /* background: #fff; */
    /* margin: 0 20px; */
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.input-box svg,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box svg {
    left: 15px;
    font-size: 25px;
    color: #707070;
}
.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}
.input-box .button {
    right: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
}
.input-box .button:active 
{
    transform: translateY(-50%) scale(0.98);
}


/* Media Queries */
@media (max-width: 900px) 
{
    .find-dis .find-dis-contain
    {
        flex-direction: column;
    }
    .find-dis .find-dis-contain .find-dis1
    {
        width: 100%;
    }
    .find-dis .find-dis-contain .find-dis2
    {
        width: 100%;
    }
    /* Input Box */
    .input-box {
        height: 46px;
        /* margin: 0 8px; */
      }
      .input-box i {
        left: 12px;
        font-size: 25px;
      }
      .input-box input {
        padding: 0 112px 0 50px;
      }
      .input-box .button {
        right: 12px;
        font-size: 14px;
      }    

}